<!DOCTYPE html>
<html lang='ko' xmlns='http: //www.thymeleaf.org'>
    <head th:include="~{fragments/header:: myHeader}">
    <title>Document</title>
    </head>

        <div th:replace="~{fragments/gohome:: goToHome}"></div>
        <body>
            <h1>환영합니다.</h1>
            <p>여기는 메인 콘텐츠 입니다.</p>
            <p>여기는 fragments를 실습하는 메인 콘텐츠 입니다.</p>
            <p>위의 헤드에는 myHeader부분이 삽입되었고.</p>
            <p>아래의 푸터에는 myFooter부분 삽입되어있습니다.</p>
        </body>
        <div th:replace="~{fragments/footer:: myFooter}"></div>
    </html>