<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    tr,
    td,
    th {
      background-color: rgb(10, 124, 128);
      color: white;
      width: 33%;
    }
  </style>
</head>

<body>
  <div th:replace="~{fragments/gohome :: goToHome}"></div>
  <h1>오늘의 붕어빵</h1>
  <table border="1">
    <tr>
      <th>번호</th>
      <th>맛</th>
      <th>가격</th>
      <th>제조일</th>
    </tr>
    <tr th:each="bung, stat : ${bungs}">
      <td th:text="${stat.count} + '번'">번호data</td>
      <td th:text="${bung.flavor}">맛data</td>
      <td th:text="${bung.price} + '원'">가격data</td>
      <td th:text="${#temporals.format(bung.madeDate, 'yyyy-MM-dd')}">제조일data</td>
    </tr>
  </table>
  <div th:replace="~{fragments/footer::myFooter}"></div>
</body>

</html>