<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <fieldset>
        <legend> Request Param 사용</legend>
        <form action="/GET_querystring">
            <input type="text" name="inName" placeholder="이름" /><br />
            <input type="number" name="inAge" placeholder="나이" /><br />
            <input id="male" type="radio" name="inGen" value="male" />
            <label for="male">남성 :</label>
            <input id="female" type="radio" name="inGen" value="female" />
            <label for="female">여성 :</label><br />
            <select name="want" id="">
                <option value="Java">Java
                <option value="Python">Python
                <option value="HTML">HTML, CSS
                <option value="js">JavaScript
            </select>
            <input id="ck" type="checkbox" name="allow" />
            <label for="ck">동의</label><br />
            <hr />
            <button type="submit">전송</button>
        </form>

        <ol>
            <li th:text=${content}></li>
        </ol>
    </fieldset>
</body>

</html>