<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:replace="~{fragments/gohome:: goToHome}"></div>
    <fieldset>
        <legend>Pathvariable 사용</legend>
        <form action="" id="myForm">
            <input type="text" id="input-name" name="inName" placeholder="이름입력" />
            <input type="text" id="input-age" name="inAge" placeholder="나이입력" />
            <button type="submit">전송</button>
        </form>
    </fieldset>
    <h2 th:text="${name} != null ? ${name}+'님이'+${age} : '이름을 입력하세요.'"></h2>
    <div th:replace="~{fragments/footer:: myFooter}"></div>
    <script>
        const myform = document.getElementById("myForm");
        myform.addEventListener("submit", (event) => {
            event.preventDefault();
            const name = document.querySelector("#input-name").value;
            const age = document.querySelector("#input-age").value;
            window.location.href = `/ex08/${name}/${age}`;
        })
    </script>
</body>

</html>