.ex7-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
}

.ex7-div~ul li {
    background-color: yellow;
    color: black
}

.div-check~input {
    margin-left: 5px;
}